@import "theme.css";

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background-color: @base;
  color: @text;
}

#workspaces {
    border-radius: 1rem;
    background-color: @surface0;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding: 0.4rem;
  background: transparent;
}

#workspaces button.focused {
  background: @surface2;
}

#workspaces button.urgent {
  color: @red;
  background: @surface1;
}

#workspaces button:hover {
  background: @overlay1;
}
