[Unit]
Description=Audiobookshelf Audiobook and Podcast Server

[Container]
ContainerName=audiobookshelf
Image= ghcr.io/advplyr/audiobookshelf:2.29.0
Pod=audiobookshelf.pod
EnvironmentFile=%h/.env
Volume={{ audiobookshelf_volume_audiobooks }}:/audiobooks:Z
Volume={{ audiobookshelf_volume_podcasts }}:/podcasts:Z
Volume={{ audiobookshelf_volume_config }}:/config:Z
Volume={{ audiobookshelf_volume_metadata }}:/metadata:Z
