[Unit]
Description=Karakeep Bookmark Manager (Meilisearch)

[Container]
ContainerName=karakeep-meilisearch
Image=docker.io/getmeili/meilisearch:v1.22.0
Pod=karakeep.pod
EnvironmentFile=%h/.env
Volume={{ karakeep_volume_meilisearch }}:/meili_data:Z
