[Network]
Subnet={{ karakeep_network | ansible.utils.ipv4 }}
Gateway={{ karakeep_network | ansible.utils.ipv4('1') | ansible.utils.ipv4('address') }}
Label=karakeep
