[Unit]
Description=Tailscale serve sidecar container for {{ tailscale_serve_quadlet_pod_name }}

[Container]
ContainerName=tailscale
Image=docker.io/tailscale/tailscale:v1.86.5
Pod={{ tailscale_serve_quadlet_pod_name }}.pod
EnvironmentFile=%h/.tailscale.env
Volume={{ tailscale_serve_quadlet_state_volume }}:/var/lib/tailscale:Z
Volume={{ tailscale_serve_quadlet_home }}/ts-serve.json:/ts-serve.json:Z
