[Unit]
Description=Gotenberg for Paperless

[Container]
ContainerName=gotenberg
Image=docker.io/gotenberg/gotenberg:8.22
Pod=paperless.pod
EnvironmentFile=%h/.env
Exec=gotenberg --chromium-disable-javascript=true --chromium-allow-list=file:///tmp/.*
