[Network]
Subnet={{ paperless_network | ansible.utils.ipv4 }}
Gateway={{ paperless_network | ansible.utils.ipv4('1') | ansible.utils.ipv4('address') }}
Label=paperless
