[Unit]
Description=Document Management Tool

[Container]
ContainerName=paperless
Image=ghcr.io/paperless-ngx/paperless-ngx:2.18.4
Pod=paperless.pod
EnvironmentFile=%h/.env
Volume={{ paperless_volume_data }}:/usr/src/paperless/data:Z
Volume={{ paperless_volume_media }}:/usr/src/paperless/media:Z
Volume={{ paperless_volume_export }}:/usr/src/paperless/export:Z
Volume={{ paperless_volume_consume }}:/usr/src/paperless/consume:Z
