#!/bin/bash
set -euf -o pipefail

iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE

iptables -A INPUT -i eth0 -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -A INPUT -i tun0 -m state --state RELATED,ESTABLISHED -j ACCEPT

iptables -A PREROUTING -t nat -i wg0 -p udp --dport 137 -j DNAT --to 192.168.0.109:137
iptables -A FORWARD -p udp -o eth0 -d 192.168.0.109 --dport 137 -j ACCEPT
iptables -A PREROUTING -t nat -i wg0 -p udp --dport 138 -j DNAT --to 192.168.0.109:138
iptables -A FORWARD -p udp -o eth0 -d 192.168.0.109 --dport 138 -j ACCEPT

iptables -A PREROUTING -t nat -i wg0 -p tcp --dport 139 -j DNAT --to 192.168.0.109:139
iptables -A FORWARD -p tcp -o eth0 -d 192.168.0.109 --dport 139 -j ACCEPT
iptables -A PREROUTING -t nat -i wg0 -p tcp --dport 445 -j DNAT --to 192.168.0.109:445
iptables -A FORWARD -p tcp -d 192.168.0.109 --dport 445 -j ACCEPT
