# vim: set ft=toml
[general]
import = [
  "{{ omarchy_theme_path }}/alacritty.toml"
]

[env]
TERM = "xterm-256color"

[font]
normal = { family = "{{ alacritty_font_family }}", style = "Regular" }
bold =   { family = "{{ alacritty_font_family }}", style = "Bold" }
italic = { family = "{{ alacritty_font_family }}", style = "Italic" }
size = "{{ alacritty_font_size }}"

[window]
decorations = "None"
