[Unit]
Description=Media Management Tool

[Container]
ContainerName=tinymediamanager
Image=docker.io/tinymediamanager/tinymediamanager:5.2.1
Pod=tinymediamanager.pod
EnvironmentFile=%h/.env
Volume={{ tinymediamanager_volume_data }}:/data:Z
{% for volume in tinymediamanager_volumes_media %}
Volume={{ tinymediamanager_volumes_media[volume] }}:/{{ volume }}:Z
{% endfor %}
