[Network]
Subnet={{ tinymediamanager_network | ansible.utils.ipv4 }}
Gateway={{ tinymediamanager_network | ansible.utils.ipv4('1') | ansible.utils.ipv4('address') }}
Label=tinymediamanager
