[Unit]
Description=Tailscale sidecar container for Navidrome

[Container]
ContainerName=tailscale
Image=docker.io/tailscale/tailscale:v1.86.5
Pod=navidrome.pod
EnvironmentFile=%h/.env
Volume={{ navidrome_volume_tailscale }}:/var/lib/tailscale:Z
Volume={{ navidrome_home }}/ts-serve.json:/ts-serve.json:Z
