[Unit]
Description=Update pacman mirrorlist weekly

[Timer]
OnCalendar=weekly
RandomizedDelaySec=12h
Persistent=True

[Install]
WantedBy=timers.target
