{
  "agent": {
    "default_model": {
      "provider": "zed.dev",
      "model": "claude-sonnet-4"
    }
  },
  "auto_install_extensions": {
    "docker-compose": true,
    "dockerfile": true,
    "env": true,
    "neocmake": true,
    "nix": true,
    "catppuccin-icons": true,
    "catppuccin": true,
    "html": true,
    "make": true,
    "scss": true,
    "snakemake": true,
    "toml": true
  },
  "buffer_font_family": "{{ font_family_monospace }}",
  "buffer_font_size": 12,
  "buffer_line_height": "standard",
  "load_direnv": "shell_hook",
  "telemetry": {
    "metrics": false
  },
  "terminal_line_height": "standard",
  "theme": {
    "dark": "Catppuccin Mocha",
    "light": "Catppuccin Mocha"
  },
  "ui_font_family": "{{ font_family_sans }}",
  "ui_font_size": 12,
  "vim_mode": true,
  "icon_theme": "Catppuccin Mocha",
  "terminal": {
    "font_family": "{{ font_family_monospace }}",
    "line_height": "standard"
  }
}
